* {
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

body{
    background-color: blueviolet;
}

header {
    background-color: #84baaa;
    height: 7em;
    padding:1em;
    padding-top:4.0em;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

main {
    background-color: #7ca26e;
    height: 100%;
    padding:0.5em;
    padding-top:3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

footer {
    background-color: #84baaa;
    height: 8em;
    padding:3em;
}

button {
    width: 10em;
    padding: 1em;
    background-color: #4a7042;
    margin-bottom: 2em;
    font-size: 2em;
}

h1{
    margin-bottom: 0.5em;
}

h2{
    margin-bottom: 0.3em;
}

img {
    margin-bottom: 4em;
}

#dierPlaatje {
    position: absolute;
    top: 230px;
    width: 12em;
}

.bgFoutBody {
    background-image: url("../img/bg/fout.png");
    background-repeat: repeat;
}

/* HF = Header - Footer*/
.bgFoutHF {
    background-color: #8a1a12;
}

.bgGoed {
    background-image: url("../img/bg/goed.png");
}

.bgGoedHF {
    background-color: #84baaa;
}

/* Bron: kan ik wanneer er wordt geslagen, een animatie laten zien?: https://chatgpt.com/share/2f3cf7b7-6efd-4f40-8ba9-7f77a8243632 */
@keyframes mepAnimatie {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.mepAnimatie {
    animation: mepAnimatie 0.2s ease;
}

.snelheidsKnop {
    width: 13em;
    font-size: 12px;
}

.snelheidsKnoppen {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}

/* bron: https://v1.scrimba.com/scrim/coc814b61a6b094ade91cee80?pl=pZgNL9HV# */
.hidden {
    visibility: hidden;
}